<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New Submission Notification</title>
   <style>
      body {
         color: #1F1F1F;
         line-height: 20px;
         font-size: 12.0pt;
         font-family: "Times New Roman", serif;
         background-color: #f8f8f8;
         margin: 0;
         padding: 20px;
      }

      .logo-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px;
         margin-left: 25px;
         margin-right: 25px;
         max-width: 600px;
         margin: 0 auto;
      }

      .logo-container svg {
         max-width: 60px;
      }

      .app-link {
         font-size: 14px;
         text-decoration: none;
         color: #0056D2;
      }

      .container {
         max-width: 600px;
         margin: 30px auto;
         background: #ffffff;
         padding: 20px;
         border-radius: 8px;
      }

      .content {
         margin: 20px 0;
      }

      .button {
         display: block;
         width: fit-content;
         background: #0056D2;
         color: white;
         padding: 10px 20px;
         text-decoration: none;
         border-radius: 5px;
         text-align: center;
         margin: 20px auto;
      }

      .footer {
         text-align: center;
         font-size: 12px;
         color: #777;
      }
   </style>
</head>

<body>
   <div class="logo-container">
      <img src="https://quynhon.ai/_nuxt/icons/icon_64x64.2b34ec.png" alt="Logo">
      <a href="https://qaiscoring.qaidora.com" class="app-link">Go to App</a>
   </div>
   <div class="container">
      <div class="content">
         <h2>New Submission Alert</h2>
         <p>Dear Supervisor, Approver,</p>
         <p>A new submission has been received and requires your attention. Below are the details:</p>
         <h3>Submission Details:</h3>
         <ul>
            <li><strong>Account Name:</strong>
               <%= accountName %>
            </li>
            <li><strong>Category:</strong>
               <%= category %>
            </li>
            <li><strong>Descriptions:</strong>
               <%= descriptions %>
            </li>
            <li><strong>Supervisor:</strong>
               <%= supervisor %>
            </li>
            <li><strong>Score:</strong>
               <%= score %>
            </li>
            <li><strong>Created By:</strong>
               <%= userCreate %>
            </li>
         </ul>
         <p>Please review the submission and take the necessary actions.</p>
         <a href="https://qaiscoring.qaidora.com/activities" class="button">Go to Contribute</a>
      </div>
      <div class="footer">
         <p>Best regards,<br>© 2025 Quy Nhon AI. All rights reserved.</p>
      </div>
   </div>
</body>

</html>